.shopTheLook:hover > .innerShopCard{
    display: flex !important;
}
.swiper-button-prev, .swiper-button-next{
    background-color: white;
    padding: 20px !important;
    border-radius: 100%;
}
.swiper-button-prev:after,.swiper-button-next:after{
    color: black;
    font-size: 12px !important;
}